@import "../../style/variables";

.project {
  font-family: $font-roboto-400;
  font-weight: bold;
  font-size: 36px;
  padding-top: 75px;

  span {
    padding-left: 50px;
  }


  .project__name {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .text {
    height: 100px;
    padding: 0 16px 0 50px;

  }

  .addButton {
    margin: 0 26px 26px 26px;
  }

  .project__recent {
    background: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 100px;
    justify-content: flex-start;
  }
}
