.default {
  background: #F6F6F6;
  border: none;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  height: 60px;
  width: 160px;
  font-weight: normal;
  font-size: medium;
}

.default:active {
  background: #d9d8d8;

}


