.calendar__block {

  margin: 0 300px 0 300px;
  padding: 0 24px 0 24px;
  display: grid;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 16px;

  .project {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 25px;
  }
}
